#for-background {
    background-image: url(./assets/images/weights/ambitious-creative-co-rick-barrett-uwk8IS-HfJ8-unsplash.jpg); 
    background-image: url(../images/weights/samuel-girven-VJ2s0c20qCo-unsplash.jpg); 
    background-size: cover; 
    background-position: center;
}

#get-background {
    background-image: url(./assets/images/weights/ambitious-creative-co-rick-barrett-uwk8IS-HfJ8-unsplash.jpg); 
    background-image: url(../images/weights/pexels-руслан-хмелевский-4608132.jpg); 
    background-size: cover; 
    background-position: center;
}
