* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    overflow-x: hidden;
}

/***************************/
/* navbar */
/***************************/
.container-fluid, 
.container-lg, 
.container-md, 
.container-sm, 
.container-xl {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

#navbar {
    float: right;
    align-items: center;
    justify-items: center;
    padding-top: 1%;
    height: 8vh;
}

#list li, 
#list li a {
    text-decoration: none;
    color: white;
    float: left;
    margin-right: 10px;
    font-size: 22px;
    list-style-type: none;
}

.navbar button.navbar-toggle > span.icon-bar {
    background: white;
}

.nav-link {
    padding: 0 !important;
}

.dropdown-item {
    color: black !important;
}

.logo {
    display: inline;
    margin-top: 1%;
    color: white;
}

.logo .fa {
    text-decoration: none;
    color: white !important;
}

#iatb-logo {
    height: 13vh;
    padding: 0;
    margin-top: -28% !important;
}

#list li a:hover,
.logo .fa:hover {
    color: #045DD1;;
    cursor: pointer;
}

.navbar.scrolled {
    background: black;
    opacity: 0.9;  
    border: none;
}

.fa.fa-instagram {
    color: white !important;
    text-decoration: white !important;
}

.dropdown-item {
    font-size: 2vh !important;
}
/*****************/
/* Section one - Smol Boy Logo */
/*****************/
.hero {
    height: 100vh;
    max-width: 100%;
    padding: 0;
    text-align: center;
    justify-content: center;
    background-image: url(../images/weights/pexels-victor-freitas-841130.jpg);
    background-image: url(../images/weights/vanilla-weight-lifting.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* filter: saturate(90%);
    filter: contrast(50%);
    filter: brightness(50%); */
    /* filter: brightness(50%); */
    z-index: 1;
}

.hero::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0;
    right: 0;
    filter: contrast(50%);
    filter: brightness(20%);
}

#header {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9 !important;
}

#header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0;
    right: 0;
    opacity: 1;
    filter: brightness(100%);
}

.hero span {
    color: white;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    line-height: 1.1;
    letter-spacing: 0.02em;
    font-family: 'Oswald', "YACgEQY10lw 0", _fb_, auto;
    font-size: 101.333px;
    z-index: 10 !important;
}

#below-headers span {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    flex-direction: column !important;
    padding: 1.5%;
    font-style: italic;
    color: #fcc931;
    filter: brightness(100%) !important;
    z-index: 10 !important;
}

.material-icons {
    font-size: 20vh;
    transform: rotate(135deg) !important;
    color: #fcc931;
}

#bar-one,
#bar-two,
#bar-three {
    background-color: #2a4c09;
    transform: rotate(-45deg);
    position: absolute;
    z-index: 9 !important;
    filter: saturate(90%);
    filter: contrast(50%);
    filter: brightness(50%);
}

#bar-one {
    width: 40vw;
    height: 25vh;
    left: -15%;
    top: -25%;
}

#bar-two {
    width: 40vw;
    height: 65vh;
    top: -50%;
    left: -20%;
    opacity: 0.5;
}

#bar-three {
    width: 40vw;
    height: 105vh;
    top: -65%;
    left: -30%;
    opacity: 0.3;
}

/***************************/
/* Section two */
/***************************/
#consul-text {
    padding: 2%;
    width: 50%;
    color: white;
    font-size: 24px;
}

#consul-text h1 {
    color: #fcc931;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    width: fit-content;
    line-height: 1.4;
    letter-spacing: 0.02em;
    font-family: "YACgEUFdPdA 0", _fb_, auto;
    font-size: 34.8668px;
    font-size: 40px;
    text-transform: none;
    border: 10px solid #2a4c09;
    padding: 1%;
}

#consul-text em {
    background-color: rgb(5, 29, 64);
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

/***************************/
/* Section 3/ Rows */
/***************************/
.row {
    /* --bs-gutter-x: 1.5rem;  */
    --bs-gutter-x: 0rem !important; 
    --bs-gutter-y: 0;
}

#header {
    width: 100%;
    text-align: center;
    font-size: 50px;
    color: white;
}

.card {
    width: 100% !important;
    text-align: center !important;
    display: block;
    background-color: #2a4c09;
    padding: 0% 0 0% 0;
    border-radius: 0% !important;
    border: none !important;
}

.card-body {
    padding: 7% !important;
    text-align: center;
}

#various {
    font-weight: 400;
    font-style: normal;
    color: #fcc931;
    text-decoration: none;
    line-height: 1.4;
    font-size: 28.2393px;
    font-size: 37px;
    text-transform: none;
}

.card-header {
    font-size: 64px;
    color: #fcc931;
    line-height: 1.4;
    font-family: 'Oswald';
    padding: 0 1.25rem 0 1.25rem;
    border: none !important;
    box-shadow: none !important;
    text-transform: uppercase;
    background-color: none !important;
}

.card-text {
    color: white;
    font-size: 27px;
}

.mb-3, .my-3 {
    margin-bottom: 0rem !important;
}

#blue,
#image {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#blue {
    background-color: #051940;
}

.image {
    display: flex;
    width: 100%;
}

#coaching-title {
    background-color: #051940;
    text-transform: uppercase;
    transform: rotate(270deg);
    width: 100% !important;
    position: absolute;
    left: -45%;
    top: 45%;
    padding: 3%;
    display: inline-block;
    font-size: 50px;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fcc931;
}
/***************************/
/*  */
/***************************/
.container {
    max-width: 100% !important;
}

/************************************/
/* footer */
/************************************/
footer {
    width: 100% !important;
    padding-top: 3%;
    background-color: #2a4c09;
    position: relative;
    color: white;
}

.footer-list {
    align-items: center;
    display: flex;
    float: left;
    margin: 5%;
    font-size: 24px;
}

#footer-brand-name {
    font-size: 30px;
}

.card-body ul,
.card-body ul li a {
    text-align: left;
    list-style-type: none !important;
    text-decoration: none;
    color: white;
}

#credits {
    text-align: center;
}

#footer-contact {
    float: right;
}

.form-control {
    border-radius: 0% !important;
    border: 8px solid #fcc931;
    padding: 5%;
}

/************************************/
/* Gumroad Subscription */
/************************************/
.gumroad-follow-form-embed { 
    zoom: 1; 
} 

.gumroad-follow-form-embed:before, 
.gumroad-follow-form-embed:after { 
    display: table; 
    line-height: 0; 
    content: ""; 
} 

.gumroad-follow-form-embed:after { 
    clear: both; 
} 

.gumroad-follow-form-embed * { 
    margin: 0; 
    border: 0; 
    padding: 0; 
    outline: 0; 
    box-sizing: border-box !important; 
    /* float: left !important;  */
} 

.gumroad-follow-form-embed input { 
    border-radius: 0px; 
    border-top-right-radius: 0; 
    border-bottom-right-radius: 0; 
    font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 15px; 
    line-height: 20px; 
    background: #fff; 
    border: 8px solid #fcc931; 
    color: #aaa; 
    padding: 10px; 
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.02); 
    /* background-position: top right;  */
    background-repeat: no-repeat; 
    text-rendering: optimizeLegibility; 
    font-smoothing: antialiased; 
    -webkit-appearance: none; 
    -moz-appearance: caret; 
    width: fit-content !important; 
    height: 40px !important; 
} 

.gumroad-follow-form-embed button { 
    border-radius: 0px; 
    border-top-left-radius: 0; 
    border-bottom-left-radius: 0; 
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);  */
    -webkit-transition: all .05s ease-in-out; 
    transition: all .05s ease-in-out; 
    display: inline-block; 
    padding: 11px 15px 12px; 
    cursor: pointer; 
    color: #fff; 
    font-size: 15px; 
    line-height: 100%; 
    /* font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;  */
    background: #fcc931; 
    border: 1px solid #fcc931; 
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#5ccfd4, endColorstr=#329ca1, GradientType=0)"; 
    /* background: -webkit-linear-gradient(#5ccfd4, #329ca1);  */
    /* background: linear-gradient(to bottom, #5ccfd4, #329ca1);  */
    height: 40px !important; 
    width: fit-content !important; 
}